/* Estilos generales */
html, body, #root {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  height: 100%; /* Asegura que ocupen toda la altura de la ventana */
  min-height: 100vh; /* Asegura que ocupen al menos la altura de la pantalla */
  width: 100%; /* Asegura que ocupen toda la anchura disponible */
  overflow-x: hidden; /* Previene el desbordamiento horizontal en caso de que exista */
}

/* Estilos para el header */
.header {
  background-image: url('assets/barra_header-min-2.png'); /* Añade la imagen de fondo */
  color: white;
  padding-left: 30px; /* Añade padding al lado izquierdo */
  padding-right: 30px; /* Añade padding al lado derecho */
  background-size: cover; /* Asegura que la imagen cubra todo el espacio disponible */
  background-position: center; /* Centra la imagen en el fondo */
  min-height: 80px; /* Hace la barra de navegación más alta */
}

.nav-container {
  max-width: 1140px; /* o el ancho que prefieras */
  margin: 0 auto; /* Centra el contenedor */
  width: 100%; /* Asegura que el contenedor utilice todo el ancho disponible */
  display: flex; /* Usa flexbox para alinear los elementos */
  justify-content: space-between; /* Separa los elementos al principio y al final */
  align-items: center; /* Alinea los elementos verticalmente */
}

.nav-link {
  color: white; /* Establece el color de los enlaces a blanco */
  padding: 10px 15px; /* Añade un padding horizontal de 15px a cada lado */
  text-transform: uppercase; /* Convierte el texto en mayúsculas */
  background-color: #43b3a8; /* Color de fondo de los enlaces */
  border-radius: 0; /* Elimina el redondeo de los bordes */
  margin: 5px 0; /* Añade un pequeño margen vertical */
  line-height: 20px;/* Añade un padding horizontal de 15px a cada lado */
  font-family: blog;
  font-size: 18px;
}

.header-subtitle {
  text-align: center; /* Centra el texto horizontalmente */
  padding: 10px 0; /* Añade padding vertical para separación */
  color: white !important; /* Establece el color del texto a blanco y fuerza su aplicación */
  font-size: 14px; /* Establece el tamaño del texto a 14px */
  font-family: 'Blogb', sans-serif; /* Cambia la familia de fuentes a 'Blogb' */
  letter-spacing: 3px; /* Aumenta el espaciado entre letras a 3px */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para mejor lectura sobre la imagen */
}



/* Estilos para la sección principal */
.hero-section {
  background-image: url('/path-to-hero-image.jpg');
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

/* Botones con estilo personalizado */
.btn-custom {
  background-color: #0097A7;
  border: none;
}

.btn-custom:hover {
  background-color: #007B8A;
}

/* Secciones de contenido */
.content-section {
  padding: 40px 0;
}

/* Estilos para el footer */
.footer {
  background-color: #005960;
  color: white;
  padding: 20px 0;
  text-align: center;
}

/* Para el componente ImagesTextSection */
.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.text-center {
  text-align: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

/* Asegurarse que los contenedores de Bootstrap ocupan toda la altura posible */
.container, .container-fluid {
  height: 100%; /* Asegura que se expandan en altura */
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

