html, body, #root {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  height: 100%; /* Asegura que ocupen toda la altura de la ventana */
  min-height: 100vh; /* Asegura que ocupen al menos la altura de la pantalla */
  width: 100%; /* Asegura que ocupen toda la anchura disponible */
  overflow-x: hidden; 
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 75%, #FFFFFF 25%), url('assets/fondo-min.png') top/cover no-repeat;
}


/* Estilos para el header */
.header {
  background-image: url('assets/barra_header-min-2.png'); /* Añade la imagen de fondo */
  color: white;
  padding-left: 30px; /* Añade padding al lado izquierdo */
  padding-right: 30px; /* Añade padding al lado derecho */
  background-size: cover; /* Asegura que la imagen cubra todo el espacio disponible */
  background-position: center; /* Centra la imagen en el fondo */
  min-height: 80px; /* Hace la barra de navegación más alta */
}

.nav-container {
  max-width: 1140px; /* o el ancho que prefieras */
  margin: 0 auto; /* Centra el contenedor */
  width: 100%; /* Asegura que el contenedor utilice todo el ancho disponible */
  display: flex; /* Usa flexbox para alinear los elementos */
  justify-content: space-between; /* Separa los elementos al principio y al final */
  align-items: center; /* Alinea los elementos verticalmente */
}

.nav-link {
  color: white; /* Establece el color de los enlaces a blanco */
  padding: 10px 15px; /* Añade un padding horizontal de 15px a cada lado */
  text-transform: uppercase; /* Convierte el texto en mayúsculas */
  background-color: #43b3a8; /* Color de fondo de los enlaces */
  border-radius: 0; /* Elimina el redondeo de los bordes */
  margin: 5px 0; /* Añade un pequeño margen vertical */
  line-height: 20px;/* Añade un padding horizontal de 15px a cada lado */
  font-family: blog;
  font-size: 18px;
}

.header-subtitle {
  text-align: center; /* Centra el texto horizontalmente */
  padding: 10px 0; /* Añade padding vertical para separación */
  color: white !important; /* Establece el color del texto a blanco y fuerza su aplicación */
  font-size: 14px; /* Establece el tamaño del texto a 14px */
  font-family: 'Blogb', sans-serif; /* Cambia la familia de fuentes a 'Blogb' */
  letter-spacing: 3px; /* Aumenta el espaciado entre letras a 3px */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para mejor lectura sobre la imagen */
}



/* Estilos para la sección principal */
.hero-section {
  
  background-image: url('assets/img_principal-min.png'); /* Reemplaza con la ruta real de tu imagen de fondo */
  text-align: right; /* Alinea el texto a la derecha */
  width: 75rem; /* Ancho especificado */
  padding: 50px 100px; /* Padding para contenido interno */
  display: flex; /* Uso de Flexbox */
  flex-direction: column; /* Los elementos internos se apilan verticalmente */
  justify-content: center; /* Centra el contenido verticalmente */
  margin: auto; 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh; 
  background-size: cover;
  background-position: center;
  color: white;
  text-align: left;
  margin-top: 3.5rem;
}

.hero-container {
  width: 50%;   
  background-color: rgba(0, 0, 0, 0.688); /* Fondo semi-transparente */
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
  text-align: right;
  font-family: blog;
  font-size: 16px;
  margin-left: 35rem;
  
}

.hero-text h1 {
  font-size: 36px;
  text-align: right;
  margin-right: 30px;
  color: #67fff0
}

.btn-custom {
  background-color: #0097A7;
  border: none;
  padding: 10px 20px;
  display: block; 
  margin-left: auto; 
  margin-right: 30px;
  margin-bottom: 35px;

}

.btn-custom:hover {
  background-color: #007B8A;
}

.hero-description {
  margin-top: 20px;
  margin-left: 20px;
  text-align: right;
  margin-right: 30px;
  color: #43b3a8;
}


/* Estilos de ImagesTextSection */
.images-text-section-container {
  margin-top: 6rem !important;
  margin-bottom: 3rem !important;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  width: 100%; ;
}


.images-text-section-container .row {
  flex-wrap: nowrap;
  display: inline-flex;
}

.images-text-section-text {
  text-align: center;
  font-size: 1.2rem;
  color: #333;
  max-width: 400px;
  font-family: blogl;
  font-size: 14px;
  color: black;
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

.images-text-section-image {
  max-width: 100%;
  height: auto;
  display: block;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.images-text-section-title {
  font-family: blogl;
  font-size: 30px;
  text-align: center;
  color: #005960;
  text-align: center;
}

.images-text-section-link {
  text-decoration: none;
  color: #007bff;
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: 1px solid #007bff;
  transition: background-color 0.3s, color 0.3s;
}

.images-text-section-link:hover {
  background-color: #007bff;
  color: #ffffff;
}




/* Estilos para el footer */
.footer {
  background-color: #005960;
  color: white;
  padding: 20px 0;
  text-align: center;
}


